<!doctype html>
<html lang="en">
    <head>
        <title>{% block title %}Neil Kinnish{% endblock %} | Developer / Creative / Consultant. Currently meddling with new technology and ideas. Co-founder @teammixture @workfu.</title>
        <link rel="shortcut icon" type="image/ico" href="{{ "favicon.ico" | asset_url }}" />
        {{ "app.css" | asset_url | stylesheet_tag }}
    </head>
    <body>
        <div class="wrapper">
            {% include "header" %}
            <div class="content">
                {% block content %}{% endblock %}
            </div>
            {% include "footer" %}
        </div>
        {{ "modernizr.min.js" | asset_url | script_tag }}
    </body>
</html>