{% layout "index" %}
{% block content %} 
	<article>
		<h1>Looks like you may be Lost</h1>
		<p>The page you requested doesn't exist, would you like to go to the <a href="/">home page</a>?</p>
	</article>
{% endblock %}