{% layout "index" %}
{% block content %} 
	<article>
		<h1>About</h1>
		<p>It goes a little something like this...</p>
		<p>In 2002 I hooked up with Dom Murphy and collaborated with him on StickerNation.</p>
		<p>StickerNation was a non profit, self initiated website dedicated to showcasing and supporting sticker artists. The site featured interviews with various artists and offered free downloadable sticker artwork to stick and share. By the time the site closed the archive had over 35,000 images from over 5000 different artists and had won the 2004 SXSW Award for Art.</p>
		<p>In 2004 we co-founded the digital agency TAK! and had the pleasure of working with clients such as Virgin, Clarks Originals, BMAG, Ikon Gallery and Modern Art Oxford to name just a few. We were lucky enough to pick up some awards on the way, BIMA, BETT, DADI, Honouree Webby and more.</p>
		<p>After 6 years we decided to close the doors at TAK! and pursue new ventures.</p>
		<p>I recently co-founded and developed <a href="http://workfu.com">WorkFu</a> which has now been acquired.</p>
		<p>I'm currently working on <a href="http://mixture.io">Mixture<a/>.</p>
	</article>
{% endblock %}