{% layout "index" %}
{% block content %} 
	{% collection "article" by 3 order desc %}
		{% if collection.current_page > collection.pages and collection.size > 0 %}
		<article>
			<h1>Woah, you've paged too far!</h1>
			<p>Would you like to go back to <a href="/">the start</a>?</p>
		</article>
		{% elseif collection.size == 0 %}
		<article>
			<h1>Uh oh :(</h1>
			<p>No articles have been posted here yet!</p>
		</article>
		{% else %}
			{% include "articles/article" with collection.items %}
			{% include "articles/paging" %}
		{% endif %}
	{% endcollection %}
{% endblock %}