{% layout "index" %}
{% block content %} 
	{% collection "article" by 2 order desc %}
		{% if collection.current_page > collection.pages %}
		<article>
			<h1>Woah, you've paged too far!</h1>
			<p>Would you like to go back to the <a href="/">home page</a>?</p>
		</article>
		{% else %}
			{% include "articles/article" with collection.items %}
			{% include "articles/paging" %}
		{% endif %}
	{% endcollection %}
{% endblock %}